VITE_STREAM_API_KEY=5cjeech8u9jw
STREAM_API_SECRET=6vzn6a7ca38feue48njvquk8fu9wk6teqhy7anpyzz6gydwgmjjpkrhb2x6nze8r
JWT_SECRET_KEY=mysupersecret123
MONGO_URI=mongodb+srv://Dawood:Dawood123@cluster0.w6legbk.mongodb.net/?appName=Cluster0